<div>
    <a class="nav-link text-dark" asp-controller="News" asp-action="CreateNews">Create</a>
    <a class="nav-link text-dark" asp-controller="News" asp-action="DeleteNews">Delete</a>
    <a class="nav-link text-dark" asp-controller="News" asp-action="EditNews">Edit</a>
    <a class="nav-link text-dark" asp-controller="News" asp-action="InsertNews">Insert</a>
</div>